<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Telecom Now</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="css/telecomnow.css"></link>
	<link href='https://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'></link>
	<script type="text/javascript" src="js/telecomnow.js"></script>
	<script type="text/javascript">
		window.onload = clearControlVariables();
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>

	<nav class="navbar">
	  <div class="container-fluid">
		<div class="navbar-header">
			&#10057; Telecom Now
		</div>
	  </div>
	</nav>
	
	<!-- Container para as perguntas -->
	<div class="container">
		<div class="plano-fundo">
			<div class="form-wrapper">

				<p th:text="'Hello, ' + ${name} + '!'" />

				<!-- Cada elemento possui o id da pergunta atual e o id da proxima pergunta -->
				<!-- Pergunta inicial exibida -->
				<div id="UNIDADE" next="TELEATENDIMENTO" class="pergunta">
					Sua empresa possui, al&eacute;m da matriz, mais unidades (filiais)?
				</div>
				
				<!-- Próximas perguntas escondidas -->
				<div id="TELEATENDIMENTO" next="TELEINTEGRACAO" class="pergunta hidden" >
					H&aacute; necessidade de inserir solu&ccedil;&atilde;o de teleatendimento (para call center ou sac), em sua empresa
				</div>
				
				<div id="TELEINTEGRACAO" next="CHAT" class="pergunta hidden" >
					Deseja integra&ccedil;&atilde;o da solu&ccedil;&atilde;o de teleatendimento com seu sistema de gest&atilde;o?
				</div>
				
				<div id="CHAT" next="GRAVACAO" class="pergunta hidden" >
					Alem de atendimento via voz, sua demanda necessita de atendimento via CHAT?
				</div>
				
				<div id="GRAVACAO" next="CELULAR" class="pergunta hidden" >
					Deseja realizar grava&ccedil;&atilde;o dos atendimentos?
				</div>
				
				<div id="CELULAR" next="RESULTADO" class="pergunta hidden" >
					Deseja incluir solu&ccedil;&atilde;o de interface de celular?
				</div>
				
				<div id="RESULTADO" next="UNIDADE" class="hidden" >
					
				</div>
				
				
				<!-- Bloco de imagens com os projetos finais -->
				<div id="UNIDADEsimTELEATENDIMENTOsimTELEINTEGRACAOsimCHATsimGRAVACAOsimCELULARsim" class="projeto-final hidden" >
					<img src="img/Projeto5.jpg" border="0" /> 
					<div>
					<a href="img/Projeto5.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
					</div>
				</div>

				<div id="UNIDADEsimTELEATENDIMENTOsimTELEINTEGRACAOsimCHATsimGRAVACAOsimCELULARnao" class="projeto-final hidden" >
					<img src="img/Projeto6.jpg" border="0" /> 
					<a href="img/Projeto6.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>
				
				<div id="UNIDADEsimTELEATENDIMENTOsimTELEINTEGRACAOsimCHATsimGRAVACAOnaoCELULARsim" class="projeto-final hidden" >
					<img src="img/Projeto7.jpg" border="0" /> 
					<a href="img/Projeto7.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>
				
				<div id="UNIDADEsimTELEATENDIMENTOsimTELEINTEGRACAOsimCHATsimGRAVACAOnaoCELULARnao" class="projeto-final hidden" >
					<img src="img/Projeto8.jpg" border="0" /> 
					<a href="img/Projeto8.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>
				
				<div id="UNIDADEsimTELEATENDIMENTOsimTELEINTEGRACAOsimCHATnaoGRAVACAOsimCELULARsim" class="projeto-final hidden" >
					<img src="img/Projeto19.jpg" border="0" /> 
					<a href="img/Projeto19.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEsimTELEATENDIMENTOsimTELEINTEGRACAOsimCHATnaoGRAVACAOsimCELULARnao" class="projeto-final hidden" >
					<img src="img/Projeto20.jpg" border="0" /> 
					<a href="img/Projeto20.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEsimTELEATENDIMENTOsimTELEINTEGRACAOsimCHATnaoGRAVACAOnaoCELULARsim" class="projeto-final hidden" >
					<img src="img/Projeto21.jpg" border="0" /> 
					<a href="img/Projeto21.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEsimTELEATENDIMENTOsimTELEINTEGRACAOsimCHATnaoGRAVACAOnaoCELULARnao" class="projeto-final hidden" >
					<img src="img/Projeto22.jpg" border="0" /> 
					<a href="img/Projeto22.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEsimTELEATENDIMENTOsimTELEINTEGRACAOnaoCHATsimGRAVACAOsimCELULARsim" class="projeto-final hidden" >
					<img src="img/Projeto15.jpg" border="0" /> 
					<a href="img/Projeto15.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEsimTELEATENDIMENTOsimTELEINTEGRACAOnaoCHATsimGRAVACAOsimCELULARnao" class="projeto-final hidden" >
					<img src="img/Projeto18.jpg" border="0" /> 
					<a href="img/Projeto18.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEsimTELEATENDIMENTOsimTELEINTEGRACAOnaoCHATsimGRAVACAOnaoCELULARsim" class="projeto-final hidden" >
					<img src="img/Projeto14.jpg" border="0" /> 
					<a href="img/Projeto14.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEsimTELEATENDIMENTOsimTELEINTEGRACAOnaoCHATsimGRAVACAOnaoCELULARnao" class="projeto-final hidden" >
					<img src="img/Projeto11.jpg" border="0" /> 
					<a href="img/Projeto11.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEsimTELEATENDIMENTOsimTELEINTEGRACAOnaoCHATnaoGRAVACAOsimCELULARsim" class="projeto-final hidden" >
					<img src="img/Projeto16.jpg" border="0" /> 
					<a href="img/Projeto16.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEsimTELEATENDIMENTOsimTELEINTEGRACAOnaoCHATnaoGRAVACAOsimCELULARnao" class="projeto-final hidden" >
					<img src="img/Projeto17.jpg" border="0" /> 
					<a href="img/Projeto17.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEsimTELEATENDIMENTOsimTELEINTEGRACAOnaoCHATnaoGRAVACAOnaoCELULARsim" class="projeto-final hidden" >
					<img src="img/Projeto13.jpg" border="0" /> 
					<a href="img/Projeto13.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEsimTELEATENDIMENTOsimTELEINTEGRACAOnaoCHATnaoGRAVACAOnaoCELULARnao" class="projeto-final hidden" >
					<img src="img/Projeto12.jpg" border="0" /> 
					<a href="img/Projeto12.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEsimTELEATENDIMENTOnaoCELULARsim" class="projeto-final hidden" >
					<img src="img/Projeto9.jpg" border="0" /> 
					<a href="img/Projeto9.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEsimTELEATENDIMENTOnaoCELULARnao" class="projeto-final hidden" >
					<img src="img/Projeto10.jpg" border="0" /> 
					<a href="img/Projeto10.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEnaoTELEATENDIMENTOsimTELEINTEGRACAOsimCHATsimGRAVACAOsimCELULARsim" class="projeto-final hidden" >
					<img src="img/Projeto29.jpg" border="0" /> 
					<a href="img/Projeto29.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEnaoTELEATENDIMENTOsimTELEINTEGRACAOsimCHATsimGRAVACAOsimCELULARnao" class="projeto-final hidden" >
					<img src="img/Projeto28.jpg" border="0" /> 
					<a href="img/Projeto28.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEnaoTELEATENDIMENTOsimTELEINTEGRACAOsimCHATsimGRAVACAOnaoCELULARsim" class="projeto-final hidden" >
					<img src="img/Projeto32.jpg" border="0" /> 
					<a href="img/Projeto32.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEnaoTELEATENDIMENTOsimTELEINTEGRACAOsimCHATsimGRAVACAOnaoCELULARnao" class="projeto-final hidden" >
					<img src="img/Projeto34.jpg" border="0" /> 
					<a href="img/Projeto34.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEnaoTELEATENDIMENTOsimTELEINTEGRACAOsimCHATnaoGRAVACAOsimCELULARsim" class="projeto-final hidden" >
					<img src="img/Projeto30.jpg" border="0" /> 
					<a href="img/Projeto30.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEnaoTELEATENDIMENTOsimTELEINTEGRACAOsimCHATnaoGRAVACAOsimCELULARnao" class="projeto-final hidden" >
					<img src="img/Projeto27.jpg" border="0" /> 
					<a href="img/Projeto27.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEnaoTELEATENDIMENTOsimTELEINTEGRACAOsimCHATnaoGRAVACAOnaoCELULARsim" class="projeto-final hidden" >
					<img src="img/Projeto31.jpg" border="0" /> 
					<a href="img/Projeto31.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEnaoTELEATENDIMENTOsimTELEINTEGRACAOsimCHATnaoGRAVACAOnaoCELULARnao" class="projeto-final hidden" >
					<img src="img/Projeto33.jpg" border="0" /> 
					<a href="img/Projeto33.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>
				
				<div id="UNIDADEnaoTELEATENDIMENTOsimTELEINTEGRACAOnaoCHATsimGRAVACAOsimCELULARsim" class="projeto-final hidden" >
					<img src="img/Projeto35.jpg" border="0" /> 
					<a href="img/Projeto35.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEnaoTELEATENDIMENTOsimTELEINTEGRACAOnaoCHATsimGRAVACAOsimCELULARnao" class="projeto-final hidden" >
					<img src="img/Projeto25.jpg" border="0" /> 
					<a href="img/Projeto25.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEnaoTELEATENDIMENTOsimTELEINTEGRACAOnaoCHATsimGRAVACAOnaoCELULARsim" class="projeto-final hidden" >
					<img src="img/Projeto3.jpg" border="0" /> 
					<a href="img/Projeto3.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>
				
				<div id="UNIDADEnaoTELEATENDIMENTOsimTELEINTEGRACAOnaoCHATsimGRAVACAOnaoCELULARnao" class="projeto-final hidden" >
					<img src="img/Projeto24.jpg" border="0" /> 
					<a href="img/Projeto24.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEnaoTELEATENDIMENTOsimTELEINTEGRACAOnaoCHATnaoGRAVACAOsimCELULARsim" class="projeto-final hidden" >
					<img src="img/Projeto36.jpg" border="0" /> 
					<a href="img/Projeto36.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEnaoTELEATENDIMENTOsimTELEINTEGRACAOnaoCHATnaoGRAVACAOsimCELULARnao" class="projeto-final hidden" >
					<img src="img/Projeto26.jpg" border="0" /> 
					<a href="img/Projeto26.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEnaoTELEATENDIMENTOsimTELEINTEGRACAOnaoCHATnaoGRAVACAOnaoCELULARsim" class="projeto-final hidden" >
					<img src="img/Projeto4.jpg" border="0" /> 
					<a href="img/Projeto4.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEnaoTELEATENDIMENTOsimTELEINTEGRACAOnaoCHATnaoGRAVACAOnaoCELULARnao" class="projeto-final hidden" >
					<img src="img/Projeto2.jpg" border="0" /> 
					<a href="img/Projeto2.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEnaoTELEATENDIMENTOnaoCELULARsim" class="projeto-final hidden" >
					<img src="img/Projeto23.jpg" border="0" /> 
					<a href="img/Projeto23.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>

				<div id="UNIDADEnaoTELEATENDIMENTOnaoCELULARnao" class="projeto-final hidden" >
					<img src="img/Projeto1.jpg" border="0" /> 
					<a href="img/Projeto1.jpg" onclick="downloadImg(this)" >Clique para baixar o projeto</a>
				</div>
				<!-- Botões de navegação -->
				<div>
					<input type="submit" id="nao" prev="1" next="2" value=" N&atilde;o " class="btn pull-left" onclick="next(this);" />
					<a id="back" href="index.html" class="btn hidden">Refazer</a>
					<input type="submit" id="sim" prev="1" next="3" value=" Sim " class="btn pull-right" onclick="next(this);" />
				</div>

			</div>
		</div>
	</div>
</body>
</html>