<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page" th:fragment="content">
<div class="col-xs-12 col-md-6 col-md-offset-3">
	<form action="#" th:action="@{/pergunta}" th:object="${pergunta}" method="post">
		<div th:id="${pergunta.identificador}" data-th-attr="next=${pergunta.proxima}" class="pergunta" th:text="${pergunta.mensagem}" ></div>
		<div>
			<button type="submit" name="resposta" class="btn btn-info pull-left" value="nao" th:text="#{pergunta.btm.nao}"></button>
			<button type="submit" name="resposta" class="btn btn-info pull-right" value="sim" th:text="#{pergunta.btm.sim}"></button>
		</div>
	</form>
</div>
</html>