<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page" th:fragment="content">
	
	<div class="col-xs-12 col-md-8 col-md-offset-2">
		<div class="row">
			<div class="projeto-final" th:if="${imagemPath == null}">
				<div>
					<p th:text="#{projeto.naoencontrado}"></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12" th:unless="${imagemPath == null}">
				<img th:src="${imagemPath}" border="0" class="img-thumbnail"/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<p class="texto-estatico" th:text="#{projeto.detalhes.header}"></p>
			</div>
			<div class="col-xs-12 col-md-12">
				<div class="list-group">
				  <a href="#" class="list-group-item" th:each="detalhe : ${detalhesProjeto}">
				    <h4 class="list-group-item-heading" th:text="${detalhe.nome}"></h4>
				    <p class="list-group-item-text" th:text="${detalhe.descricao}"></p>
				  </a>
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="col-xs-12 col-md-6" th:unless="${imagemPath == null}">
				<a th:href="${imagemPath}" class="btn btn-info expand-width" onclick="downloadImg(this)" th:text="#{projeto.btn.baixar}"></a>
			</div>
			<div class="col-xs-12 col-md-6" th:unless="${imagemPath == null}">
				<a href="/questionario" class="btn btn-info expand-width" th:text="#{projeto.btn.refazer}"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<p class="texto-estatico" th:text="#{projeto.empresasventedoras.titulo}"></p>
			</div>
			<div class="col-xs-12 col-md-12">
				<div th:each="empresa : ${empresasVendedoras}" class="col-xs-12 col-md-4">
					<a th:href="${empresa.site}" class="thumbnail grafico"> 
						<img th:alt="${empresa.nome}" th:src="${empresa.imagem}" class="imagem-projeto"/>
					</a>
				</div>
			</div>
		</div>
	</div>

</html>