<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Telecom Now</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="css/telecomnow.css"></link>
	<link href='https://fonts.googleapis.com/css?family=Jockey+One' rel='stylesheet' type='text/css'></link>
	<script type="text/javascript" src="js/telecomnow.js"></script>
	<script type="text/javascript">
		window.onload = clearControlVariables();
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>

	<nav class="navbar">
	  <div class="container-fluid">
		<div class="navbar-header">
			&#10057; Telecom Now
		</div>
	  </div>
	</nav>
	
	<!-- Container para as perguntas -->
	<div class="container">
		<div class="plano-fundo">
			<div class="form-wrapper">

				<!-- Cada elemento possui o id da pergunta atual e o id da proxima pergunta -->
				<!-- Pergunta inicial exibida -->
				
				<form action="#" th:action="@{/questionario}" th:object="${pergunta}" method="post">
					<div th:id="${pergunta.identificador}" data-th-attr="next=${pergunta.proxima}" class="pergunta" th:text="${pergunta.mensagem}" ></div>
					<div>
						<button type="submit" name="resposta" class="btn pull-left" value="nao">N&atilde;o</button>
						<a id="back" href="index.html" class="btn">Refazer</a>
						<button type="submit" name="resposta" class="btn pull-right" value="sim">Sim</button>
					</div>
				</form>

			</div>
		</div>
	</div>
</body>
</html>