<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page" th:fragment="content">
<div class="col-xs-12 col-md-6 col-md-offset-3">
	<form action="#" th:action="@{/regiao}" method="post" style="text-align: center;">
		<p class="form-control-static pergunta" th:text="${pergunta}"></p>
		
		<select name="regiao" class="form-control">
		 	<option 
		  		  th:each="regiao : ${regioes}" 
		          th:value="${regiao}" 
		          th:text="${regiao.name()}" />
		</select>
		<div style="text-align: center;">
			<button type="submit" name="resposta" class="btn btn-info" th:text="#{regiao.btm.enviar}" ></button>
		</div>
	</form>
</div>
</html>